{% extends "layout.html" %}

{% block content %}
<div id="hoax-analyzer" class="step-one input-form" style="display: block">
    <textarea id="hoax-analyzer" class="form-control textarea searchinput" name="textarea-field" rows="2" placeholder="Type text (min. 2 words) here"></textarea>
    <button id="hoax-analyzer" name="analyze-button" class="btn btn-default" type="button" onclick="toStepTwo()">Analyze</button>
</div>
<div id="hoax-analyzer" class="step-two input-form" style="display: none">
    <br/>
    <div class="cssload-container">
        <div class="cssload-whirlpool"></div>
    </div>
    <div class="more-info">
        <p><b>Did you know?</b> <span id="rotate">Flat earth is a hoax</span></p>
    </div>
    <ul style="display:none">
        <li>Vaccine doesn't causing autism</li>
        <li>Linux and macOS are not immune to malware</li>
        <li>Entering your PIN on ATM doesn't notify the police</li>
        <li>Don't click "Who viewed your profile" in Facebook, it's a scam</li>
        <li>You can’t kill yourself by holding your breath</li>
        <li>Rocket are not launch straight to space but curved because we want them to fall to earth gravity but miss and create the effect of orbiting</li>
        <li>Hoaxes are more spreading than ever with help of internet</li>
        <li>Entering your PIN in reverse at any ATM IS NOT automatically summon the police. </li>
        <li>Paracetamol doesn't contains machupo virus</li>
        <li>It is illegal to take photographs of the Eiffel Tower at night without explicit permission.</li>
    </ul>
</div>
{% endblock %}


{% block scripts %}
    <script src="/static/scripts/rotate.js"></script>
    <script type="text/javascript">
        $("[data-toggle=popover]").popover({html:true});
    </script>
    <script src="/static/scripts/home.js"></script>
{% endblock %}


