{% extends "layout.html" %}

{% block content %}
<div id="main" class="ha-segment-one">
    <div class="container">
        <div id="ha-analyze" class="narrow-container">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-2 col-md-offset-1 ha-logo">
                    <a href="/"><img src="../static/img/logo.png" width="100px"></a>
                </div>
                <div id="ha-dyk" class="col-xs-12 col-md-8 alert alert-info ha-dyk" role="alert" style="display: none;">
                    <b>{{ _('Did you know') }}</b><br/>
                        <span id="rotate">{{ _('Quotes #1') }}</span>
                    <ul style="display:none">
                        <li>{{ _('Quotes #2') }}</li>
                        <li>{{ _('Quotes #3') }}</li>
                        <li>{{ _('Quotes #4') }}</li>
                        <li>{{ _('Quotes #5') }}</li>
                        <li>{{ _('Quotes #6') }}</li>
                        <li>{{ _('Quotes #7') }}</li>
                        <li>{{ _('Quotes #8') }}</li>
                        <li>{{ _('Quotes #9') }}</li>
                        <li>{{ _('Quotes #10') }}</li>
                    </ul>
                </div>
                <div id="ha-input-box" class="col-xs-12 col-md-8">
                    <div class="row">
                        <div id="ha-input" class="col-md-12">
                            <textarea id="hoax-analyzer" class="ha-main-input form-control" placeholder="{{ _('Input text placeholder') }}"></textarea>
                        </div>
                    </div>
                    <div class="row" id="button-row">
                        <div class="col-xs-4" id="image-upload-group">
                            <div id="upload-button" class="btn" data-toggle="tooltip" title="Unggah foto">
                                <span class="glyphicon glyphicon-camera"> </span> 
                                <input type="file" id="image-upload" name="image-upload" accept=".png,.jpg,.jpeg,.gif,.tif,.tiff,.bmp" data-max-size="4194304" onchange="uploadImage(); this.value=null; return false;" required />
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div class="col-xs-8 pull-right btn btn-primary" id="search-button" onclick="toStepTwo()">
                                <span class="glyphicon glyphicon-search"></span> {{ _('Analyze') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-offset-1 col-md-4 ha-loader">
                    <div id="ha-loader" class="row" style="display: none;">
                        <div class="col-md-offset-2 col-md-4">
                            <div class="spinner">
                              <div class="rect1"></div>
                              <div class="rect2"></div>
                              <div class="rect3"></div>
                              <div class="rect4"></div>
                              <div class="rect5"></div>
                              <div class="rect6"></div>
                            </div>
                        </div>
                        <div class="col-md-6 ha-infoloader">
                            {{ _('Analyzing') }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ha-infos">
                    <a href="#hiw"><span class="ha-info-single">{{ _('How it works') }}</span></a> - <a href="#about"><span class="ha-info-single">{{ _('About us') }}</span></a>
                </div>
            </div>
            <a id="down-button" href="#hiw"><i class="glyphicon glyphicon-chevron-down"></i></a>
        </div>
    </div>
</div>
<div id="hiw" class="ha-segment-three">
    <div class="container">
        <div class="ha-segment-upper">
            <span class="ha-segment-title">{{ _('How it works title') }}</span>
            <br/>
            <span class="ha-segment-subtitle">{{ _('How it works subtitle') }}</span>
            <br/><br/>
            <img class="img-responsive" src="/static/img/how-it-works.jpg">
        </div>
        <br/>
        <br/><br/>
        <center>
            <a href="#main"><input type="button" class="btn btn-default" value="{{ _('Back to application') }}"></a>
        </center>
    </div>
</div>
<div id="about" class="ha-segment-four">
    <div class="container">
        <div class="ha-segment-upper">
            <span class="ha-segment-title">{{ _('About us') }}</span>
            <br/>
            <span class="ha-segment-subtitle">{{ _('About us subtitle') }}</span>
        </div>
        <div class="row ha-segment-row">
            <div class="col-md-4">
                <img class="photo" src="/static/img/team-03.jpg"/><br/><br/>
                Tifani Warnita<br/><br/>
            </div>
            <div class="col-md-4">
                <img class="photo" src="/static/img/team-02.jpg"/><br/><br/>
                Adinda Budi Kusuma Putra<br/><br/>
            </div>
            <div class="col-md-4">
                <img class="photo" src="/static/img/team-01.jpg"/><br/><br/>
                Feryandi Nurdiantoro<br/><br/>
            </div>
        </div>
        <div class="row ha-segment-row">
            <div class="col-md-12">
                <center>
                    <a href="#main"><input type="button" class="btn btn-default" value="{{ _('Back to application') }}"></a>
                </center>                       
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
    <script src="/static/scripts/rotate.js"></script>
    <script type="text/javascript">
        $("[data-toggle=popover]").popover({html:true});
    </script>
    <script src="/static/scripts/home.js"></script>
{% endblock %}


