<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      
    <title>Hoax Analyzer</title>

    <!-- for Google -->
    <meta name="description" content="Hoax or not? We'll help you figure it out" />
    <meta name="keywords" content="hoax,website,factchecker,facebook,twitter,whatsapp,social media" />
    <meta name="author" content="cimol-team" />
    <meta name="application-name" content="hoax-analyzer" />

    <!-- for Twitter -->          
    <meta name="twitter:card" content="Hoax or not? We'll help you figure it out" />
    <meta name="twitter:title" content="Hoax Analyzer" />
    <meta name="twitter:description" content="Hoax or not? We'll help you figure it out" />
    <meta name="twitter:image" content="/static/img/Hoax Analyzer-title.png" />
    <meta name="twitter:domain" content="https://antihoax.azurewebsites.net/">

    <!-- for Facebook -->    
    <meta property="og:url" content="http://antihoax.azurewebsites.net/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Hoax Analyzer" />
    <meta property="og:description" content="Hoax or not? We'll help you figure it out" />
    <meta property="og:image" content="/static/img/Hoax Analyzer-title.png" />

    <link href="/static/content/bootstrap.min.css" rel="stylesheet">
    <link href="/static/content/loading.css" rel="stylesheet">
    <link href="/static/content/style.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/img/manifest.json">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/static/scripts/ga.js"></script>
</head>

<body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=183545445477116";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="page-layer">
        <div class="container">
            <div class="row" id="main-content" style="/*margin-top: 6em*/ margin-top:1.5em">
                <center>
                    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
                        <div id="header">
                            <h1 id="web-title"><strong>Hoax Analyzer</strong></h1>
                            <p id="web-slogan">Hoax or not? We'll help you figure it out</p>
                        </div>
                        <br/>  
                        {% block content %}{% endblock %}
                    </div>
                </center>
            </div>
        </div>
    </div>

    <script src="/static/scripts/jquery.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
